

body{
    margin: 0;
}

.game-frame{
    width: 600px;
    height: 600px;
    box-shadow: 0 0 2px 2px gray;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
}
.board{
    width: 500px;
    height: 500px;
    /* border: 1px solid black; */
    margin-left: 50px;
    margin-top: 10px;
    background: url('images/bg1.jpg');
    background-size: 100%;
  
}
.dice-frame{
    width: 500px;
    height: 80px;
    border: 1px solid black;
    margin-left: 50px;
    margin-top: 10px;
    position: absolute;
}