/* body {
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.1vmin solid black;
  height: 98vmin;
  width: 98vmin;
}

.box {
  float: left;
  height: 9.601vmin;
  width: 9.601vmin;
  border: 0.1vmin solid black;
  text-align: center;
  line-height: 9.601vmin;
  font-size: 2.5vmin;
  background-color: #a9d18e;
}

#side {
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  height: 25vmin;
  width: 35vmin;
  border: 0.2vmin solid black;
  background-color: white;
  text-align: center;
  font-size: 3.5vmin;
}

#cube_outer {
  height: 8vmin;
  width: 8vmin;
  perspective: 30vmin;
  margin: auto;
}

#cube_inner {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.75s linear;
}

#cube_inner div {
  height: 100%;
  width: 100%;
  position: absolute;




  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#front { 
    transform: translateZ(4vmin); 
}
#back { 
    transform: rotateY(180deg) translateZ(4vmin); 
}
#left {
    transform: rotateY(-90deg) translateX(-4vmin);
    transform-origin: left; 
}
#right { 
    transform: rotateY(90deg) translateX(4vmin); 
    transform-origin: right;
}
#top { 
    transform: rotateX(-90deg) translateY(-4vmin); 
    transform-origin: top;
}
#bottom { 
    transform: rotateX(90deg) translateY(4vmin); 
    transform-origin: bottom;
}
img {
  height: 100.3%;
  width: 100.3%;
}
.players {
  position: absolute;
  top: 90vmin;
  left: 3vmin;
  height: 4vmin;
  width: 4vmin;
  border-radius: 50%;
  opacity: 0.7;
  transition-duration: 0.4s;
  transition-property: margin;
}

.players:nth-child(1) {
  background-color: red;
}
.players:nth-child(2) {
  background-color: blue;
}
#main img{
    position: absolute;
}
#l1{
    transform: scale(0.3) scaleX(0.6) scaleY(0.8) rotate(15deg);
    top: 34.3vmin;
    left: -29.5vmin;
}
#l2{
    transform: scale(0.3) scaleX(0.6) scaleY(0.8) rotate(15deg);
    top: 5vmin;
    left: 11vmin;
}
#s1{
    transform: scale(0.4) scaleY(0.8) rotate(341deg);
    top: -27vmin;
    left: -41vmin;
}
 */

 body {
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
  
}

#main {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.1vmin solid black;
  height: 98vmin;
  width: 98vmin;
}

.box {
  float: left;
  height: 9.601vmin;
  width: 9.601vmin;
  border: 0.1vmin solid black;
  text-align: center;
  line-height: 9.601vmin;
  font-size: 2.5vmin;
  background-color: #a9d18e;
}

#side {
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  height: 25vmin;
  width: 35vmin;
  border: 0.2vmin solid black;
  background-color: white;
  text-align: center;
  font-size: 3.5vmin;
}

#cube_outer {
  height: 8vmin;
  width: 8vmin;
  perspective: 30vmin;
  margin: auto;
}

#cube_inner {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.75s linear;
}

#cube_inner div {
  height: 100%;
  width: 100%;
  position: absolute;




  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#front { 
    transform: translateZ(4vmin); 
}
#back { 
    transform: rotateY(180deg) translateZ(4vmin); 
}
#left {
    transform: rotateY(-90deg) translateX(-4vmin);
    transform-origin: left; 
}
#right { 
    transform: rotateY(90deg) translateX(4vmin); 
    transform-origin: right;
}
#top { 
    transform: rotateX(-90deg) translateY(-4vmin); 
    transform-origin: top;
}
#bottom { 
    transform: rotateX(90deg) translateY(4vmin); 
    transform-origin: bottom;
}
img {
  height: 100.3%;
  width: 100.3%;
}
.players {
  position: absolute;
  top: 90vmin;
  left: 3vmin;
  height: 4vmin;
  width: 4vmin;
  border-radius: 50%;
  opacity: 0.7;
  transition-duration: 0.4s;
  transition-property: margin;
}

.players:nth-child(1) {
  background-color: red;
}
.players:nth-child(2) {
  background-color: blue;
}
#main img{
    position: absolute;
}
#l1{
    transform: scale(0.3) scaleX(0.6) scaleY(0.8) rotate(15deg);
    top: 34.3vmin;
    left: -29.5vmin;
}
#l2{
    transform: scale(0.3) scaleX(0.6) scaleY(0.8) rotate(15deg);
    top: 5vmin;
    left: 11vmin;
}
#s1{
    transform: scale(0.4) scaleY(0.8) rotate(341deg);
    top: -27vmin;
    left: -41vmin;
}